@use "global" as *;

.accordion__item {
  padding: rem(13) 0;
  border-bottom: rem(1) solid #ddd; 
  @include mq(sm) {
    padding: rem(31) 0;
    
  }
}
.accordion__title {
  font-size: rem(16);
  font-weight: bold;
  padding-right: rem(65);
  position: relative;
  transition: color 0.3s;
  @include mq(sm) {
    font-size: rem(20);
    line-height: 1.45;
  }
  &::before {
    background: #1a1a1a;
    content: '';
    height: rem(2);
    position: absolute;
    right: rem(8);
    top: rem(13);
    width: rem(21);
    transform: rotate(90deg);
    transition: background-color 0.3s, transform 0.3s;
    @include mq(sm) {
      right: rem(11);
      top: rem(15);
    }
  }
  &::after {
    background: #1a1a1a;
    content: '';
    height: rem(2);
    position: absolute;
    right: rem(8);
    top: rem(13);
    width: rem(21);
    transition: background-color 0.3s, transform 0.3s;
    @include mq(sm) {
      right: rem(11);
      top: rem(15); 
    }
  }
  &.is-open {
    color: #d33365;
    &::before {
      transform: rotate(45deg);
      background: #d33365;
    }
    &::after {
      transform: rotate(-45deg);
      background: #d33365;
    }
  }
}
.accordion__content {
  padding-top: rem(16);
  display: none;
  @include mq(sm) {
    padding: rem(30) rem(60) 0 rem(40);
  }
}
