@use "global" as *;

.service-faq {
  padding: rem(60) 0 rem(100);
  @include mq(sm) {
    padding: rem(160) 0;
  }
}
.service-faq__title {
  font-size: rem(24);
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
.service-faq__items {
  margin-top: rem(40);
  @include mq(sm) {
    margin: rem(60) auto 0;
    max-width: rem(668);
  }
}
