@use "global" as *;

.service-flow {
  background: url(../images/common/bg-service-flow.png) center / cover no-repeat;
  @include mq(sm) {
    padding-top: rem(80);
  }
}
.service-flow__title {
  color: #ffffff;
  font-size: rem(24);
  line-height: 1.5;
  text-align: center;
}
.service-flow__items {
  margin-top: rem(40);
  @include mq(sm) {
    display: flex;
    margin-top: rem(104);
  }
}
.service-flow__item {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  position: relative;
  display: flex;
  @include mq(sm) {
    display: flex;
    width: 25%;
  }
  &--item01 {
    @include mq(sm) {
      background: #edf3f8;
    }
  }
  &--item02 {
    @include mq(sm) {
      background: #dde8f0;
    }
  }
  &--item03 {
    @include mq(sm) {
      background: #c7dbe9;
    }
  }
  &--item04 {
    @include mq(sm) {
      background: #b0d0e5;
    }
  }
  &-title {
    font-size: rem(18);
    color: #023e78;
    text-align: center;
    @include mq(sm) {
      font-size: 1.5625vw;
      text-align: left;
    }
    @include mq(md) {
      font-size: rem(20);
    }
  }
  &-text {
    margin-top: rem(4);
    color: #1a1a1a;
    @include mq(sm) {
      font-size: 1.09375vw;
      margin-top: 1.17188vw;
    }
    @include mq(md) {
      font-size: rem(14);
      margin-top: rem(15);
    }
  }
  &-apdx {
    color: #d33365;
    @include mq(sm) {
      font-size: 1.09375vw;
    }
    @include mq(md) {
      font-size: rem(14);
    }
  }
}

.service-flow__main {
  margin-left: rem(18);
  max-width: rem(480);
  padding: rem(20) rem(20);
  position: relative;
  width: 73.33333vw;
  @include mq(sm) {
    margin-left: 0;
    width: 100%;
    padding: 3.4375vw 1.95312vw 1.64063vw 3.35938vw;
  }
  @include mq(md) {
    padding: rem(44) rem(25) rem(21) rem(43);
  }
}
.service-flow__main::after {
  border-color: currentColor transparent transparent transparent;
  border-style: solid;
  border-width: rem(26) 36.66667vw 0 36.66667vw;
  bottom: rem(-26);
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
  right: 0;
  z-index: 1;
  @include mq(mc) {
    border-width: rem(26) rem(240) 0 rem(240);
  }
  @include mq(sm) {
    border-color: transparent transparent transparent currentColor;
    border-width: 8.16406vw 0 8.16406vw rem(20);
    left: auto;
    right: rem(-20);
    top: 50%;
    transform: translateY(-50%);
  }
  @include mq(lg) {
    border-width: rem(104.5) 0 rem(104.5) rem(20); 
  }
}
.service-flow__main--main01 {
  background: #edf3f8;
  color: #edf3f8;
}
.service-flow__main--main02 {
  background: #dde8f0;
  color: #dde8f0;
}
.service-flow__main--main03 {
  background: #c7dbe9;
  color: #c7dbe9;
}
.service-flow__main--main04 {
  background: #b0d0e5;
  color: transparent;
}

.service-flow__steps {
  color: #fef251;
  white-space: nowrap;
  line-height: 1;
  width: rem(43);
  @include mq(sm) {
    align-items: flex-end;
    display: flex;
    left: 0;
    position: absolute;
    top: rem(-25);
    transform: translateY(-50%);
    width: 100%;
  }
}
.service-flow__step {
  font-size: rem(20);
  @include mq(sm) {
    font-size: 1.5625vw;
    line-height: 1.5;
  }
  @include mq(md) {
    font-size: rem(20);
  }
  &-number {
    font-size: rem(40);
    line-height: 1;
    margin-top: rem(3);
    @include mq(sm) {
      font-size: 3.125vw;
      margin-left: rem(8);
    }
    @include mq(md) {
      font-size: rem(40);
    }
  }
}

.service-flow__item:not(:first-child) .service-flow__main {
  padding-top: rem(40);
  @include mq(sm) {
    padding-left: 3.90625vw;
    padding-top: 3.437vw;
  }
  @include mq(lg) {
    padding-left: rem(50);
    padding-top: rem(44);
  }
}