@use "global" as *;

.service-detail {
  @include mq(sm) {
    padding-bottom: rem(60);
  }
}
.service-detail__intro {
  @include mq(sm) {
    font-size: rem(28);
  }
  font-size: rem(20);
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.service-detail__items {
  @include mq(sm) {
    &:first-of-type {
      margin-top: rem(138);
    }
    &:nth-of-type(2) {
      background: linear-gradient(transparent 0%, #edf3f8 0%);
      margin: rem(195) 0 rem(181);
      padding: rem(68) 0 rem(79);
    }
    &:last-of-type {
      margin-top: rem(150);
    }
  }
  &:nth-of-type(odd) {
    margin-top: rem(60);
  }
  &:nth-of-type(2) {
    background: linear-gradient(transparent 0%, #edf3f8 0%);
    margin: rem(69) 0 rem(80);
    padding-top: rem(12);
  }
}
.service-detail__inner {
  @include mq(sm) {
    max-width: calc(rem(1180) + rem(80));
    padding: 0 rem(40);
  }
  margin: 0 auto;
  width: 100%;
}
.service-detail__item {
  @include mq(sm) {
    align-items: flex-start;
    display: flex;
  }
}
.service-detail__anchor {
  margin-top: rem(-60);
  padding-top: rem(60);
}
.service-detail__img {
  @include mq(sm) {
    margin: rem(60) 0 0;
    max-width: rem(560);
    width: 47.46%;
  }
  width: 50.13333vw;
}
// &__items:nth-of-type(odd)
// &__img {
//   @include mq(sm) {
//     margin-left: 0;
//   }
//   margin-left: auto;
// }
// &__items:nth-of-type(2),
// &__img {
//   @include mq(sm) {
//     margin-right: 0;
//   }
//   margin-right: auto;
// }
// &__items:nth-of-type(odd),
// &__main {
//   @include mq(lg) {
//     transform: translateX(60px);
//   }
//   @include mq(sm) {
//     transform:translateX(30px);
//   }
// }
.service-detail__main {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 rem(3) rem(12) rgb(0 0 0 / 16%);
  margin: 0 rem(20);
  margin-top: -40vw;
  padding: rem(42) rem(20);
  position: relative;
  z-index: 1;
  @include mq(md) {
    padding-left: rem(40);
    padding-right: rem(40);
    transform: translateX(rem(60));
  }
  @include mq(sm) {
    margin: 0;
    max-width: rem(590);
    padding: rem(80) rem(30) rem(60);
    transform: translateX(rem(30));
    width: 70%;
  }
}

.service-detail__number {
  color: #023e78;
  font-size: rem(70);
  line-height: 1;
  position: absolute;
  top: rem(-36);
  @include mq(sm) {
    font-size: rem(100);
    top: rem(-44);
  }
}
.service-detail__jp {
  font-size: rem(28);
  font-weight: bold;
  line-height: 1.28;
  @include mq(sm) {
    font-size: rem(40);
    line-height: 1.5;
  }
}
.service-detail__en {
  color: #023e78;
  line-height: 1.21;
  margin-top: rem(9);
  @include mq(sm) {
    font-size: rem(16);
    margin-top: 0;
  }
}
.service-detail__text {
  margin-top: rem(32);
  font-size: rem(14);
  @include mq(sm) {
    margin-top: rem(60);
  }
}
.service-detail__dl-wrapper {
  margin-top: rem(30);
  @include mq(sm) {
    margin-top: rem(60);
  }
}
.service-detail__dl {
  padding: rem(18) 0;
  display: flex;
  align-items: center;
  border-top: rem(1) solid #ccc;
  @include mq(sm) {
    padding: rem(31) 0;
  }
  &:last-child {
    border-bottom: rem(1) solid #ccc;
  }
}
.service-detail__dt {
  font-size: rem(14);
  font-weight: bold;
  white-space: nowrap;
}
.service-detail__dd {
  margin-left: rem(52);
  font-size: rem(14);
}
.service-detail__button {
  display: block;
  font-size: rem(14);
  margin: rem(30) auto 0;
  max-width: rem(295);
  padding: rem(28) rem(10);
  width: 100%;
  @include mq(sm) {
    font-size: rem(16);
    margin-top: rem(60);
    max-width: rem(304);
    padding: rem(27) rem(15);
  }
}

.service-detail__items:nth-of-type(odd) .service-detail__item {
  @include mq(sm) {
    flex-direction: row-reverse;
  }
}
.service-detail__items:nth-of-type(odd) .service-detail__img {
  margin-left: auto;
  @include mq(sm) {
    margin-left: 0;
  }
}
.service-detail__items:nth-of-type(odd) .service-detail__main {
  @include mq(md) {
    transform: translateX(rem(60));
  }
  @include mq(sm) {
    transform: translateX(rem(30));
  }
}

.service-detail__items:nth-of-type(2) .service-detail__img {
  margin-right: auto;
  @include mq(sm) {
    margin-right: 0;
  }
}
.service-detail__items:nth-of-type(2) .service-detail__main {
  @include mq(md) {
    transform: translateX(rem(-60));
  }
  @include mq(sm) {
    transform: translateX(rem(-30));
  }
}
.service-detail__items:nth-of-type(2) .service-detail__number {
  right: rem(20);
  @include mq(sm) {
    right: rem(44);
    top: rem(-52);
  }
}


