@use "global" as *;



.contact-textarea__text {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: 1px solid #333;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: rem(16);
	height: rem(210);
	padding: rem(5) rem(10) ;
	width: 100%;
}

.contact-textarea__text:focus {
	border: 1px solid #333;
	box-shadow: none;
	outline: none;
}
