@use "global" as *;

.entry-content {
	overflow: hidden;

	> :first-child() {
		margin-top: 0;
	}

	> :last-child() {
		margin-bottom: 0;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		+ p {
			margin-top: 0;
		}
	}

	h2 {
		font-size: 24px;
		margin-top: 3em;
		margin-bottom: 1em;
		line-height: 1.2;
		font-weight: 700;
	}

	h3 {
		font-size: 20px;
		margin-top: 3em;
		margin-bottom: 1em;
		line-height: 1.4;
		font-weight: 700;
	}

	h4 {
		font-size: 18px;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.6;
		font-weight: 700;
	}

	h5 {
		font-size: 16px;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.6;
		font-weight: 700;
	}

	h6 {
		font-size: 16px;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.6;
	}

	p {
		line-height: 1.6;
		margin-top: 1.2em;
		margin-bottom: 0.8em;
	}

	ul {
		list-style-type: disc;
		padding-left: 20px;
		margin-bottom: 1em;

		ul,
		ol {
			margin-bottom: 0;
		}
	}

	ol {
		list-style-type: decimal;
		padding-left: 20px;
		margin-bottom: 1em;

		ul,
		ol {
			margin-bottom: 0;
		}
	}

	li {
		margin-top: 0.4em;
		margin-bottom: 0.4em;
		line-height: 1.6;
	}

	blockquote {
		background: #eee;
		padding: 1em;
		margin-top: 1em;
		margin-bottom: 1em;
		line-height: 1.6;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	q {
		background: #eee;
		display: inline-block;
		vertical-align: middle;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}

	strong,
	em,
	b {
		font-weight: 700;
		font-style: normal;
	}

	a {
		text-decoration: underline;
		transition: opacity 0.3s ease 0s;

		&:hover {
			opacity: 0.7;
		}
	}

	img {
		vertical-align: middle;
	}

	dl {
		margin-top: 1em;
	}

	dt {
		font-weight: 700;
		margin-top: 0.8em;
		margin-bottom: 4px;
	}


	var,
	code,
	kbd {
		background: #333;
		color: #333;
		display: inline-block;
		padding-left: 0.2em;
		padding-right: 0.2em;
		vertical-align: baseline;
		font-style: normal;
	}

	pre {
		white-space: pre;
		overflow: auto;
		margin-top: 1.2em;
		padding: 1em;

		code {
			background: #2d2d2d;
			color: #fff;
			padding: 12px;
			position: relative;
			margin: -1em;
		}
	}



	iframe,
	video,
	object {
		max-width: 100%;
	}
}
