@use "global" as *;

.contact-check__item {
	display: none;
}

.contact-check__item + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 rem(20);
	position: relative;
	font-size: rem(14);
	letter-spacing: 0.04em;
	line-height: 1.714285;
	@include mq(sm){
    font-size: rem(16);
  }
}

.contact-check__item + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	top: 12px;
	position: absolute;
	// top: 50%;
	// transform: translateY(-50%);
	width: 1em;
	@include mq(sm){
		top: 10px;
	}
}

.contact-check__item + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 4px solid #000;
	border-left: 4px solid #000;
	content: "";
	display: block;
	height: 16.8px;
	left: -7px;
	opacity: 0;
	position: absolute;
	top: 10px;
	transform: translateY(-50%) rotate(-45deg);
	transition: all 0.3s ease 0s;
	width: 28px;
	@include mq(sm){
		top: 7px;
	}
}

.contact-check__item:checked + span::after {
	opacity: 1;
}
