@use "global" as *;

.contact {
  position: relative;
  z-index: -2;
  padding: rem(40) 0;
  background-color: #F2F2F2;
  @include mq(sm){
    padding: rem(60) 0 rem(120);
  }
}

.contact__wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;

}
.contact__img {
  width: 100%;
  position: relative;
  @include mq(sm){
    max-width: rem(580);
  }
}

.contact__img::before {
  padding-top: 67.2463768%;// (232/345)
  display: block;
  content: "";
}

.contact__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.contact__body,
.contact__text,
.contact__btn {
  margin-top: rem(30);
}

.contact__body {
  @include mq(sm){
    max-width: rem(440);
    width: 100%;
    margin-right: rem(80);
  }
}

