@use "global" as *;

.contact-radio {
  padding-left: rem(10);
  display: flex;
  flex-direction: column;
	@include mq(sm){
		flex-direction: row;
	}
}


.contact-radio__item {
	display: none;
}

.contact-radio__item + span {
	cursor: pointer;
	display: inline-block;
	// margin: 0 0.2em 0;
	padding: 5px 15px 10px 25px;
	position: relative;
}

.contact-radio__item + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 50%;
	content: "";
	display: block;
	height: 16px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
}

.contact-radio__item + span::after {
	-webkit-transform: translateY(-50%);
	background: #333;
	border: 1px solid transparent;
	border-radius: 50%;
	content: "";
	height: 8px;
	left: 4px;
	opacity: 0;
	padding: 2px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 8px;
}

.contact-radio__item:checked + span::after {
	opacity: 1;
}
