@use "global" as *;

.privacy-policy {
  width: 100%;
  height: rem(226);
  border: 1px solid #333;
  background-color: #fff;
  overflow: scroll;
}
.privacy-policy__content {
  padding: rem(10);
  height: inherit;
}

.privacy-policy__text {
  font-size: rem(14);
  letter-spacing: 0.04em;
  line-height: 1.714285;
  @include mq(sm){
    font-size: rem(16);
  }
}
