@use "global" as *;

/* --------------------------------
archive-news
----------------------------------- */


.archive-news__cat-name {
  font-size: rem(20);
  font-weight: bold;
  @include mq(sm) {
    font-size: rem(32);
  }
}
  .archive-news__item {
    display: flex;
    justify-content: space-between;
    margin-top: rem(20);
    @include mq(sm) {
      margin-top: rem(40);
    }
    &:first-of-type {
      @include mq(sm) {
        margin-top: rem(24);
      }
    }
  }
  .archive-news__thumnail {
    width: calc(37.61% - rem(12) / 2);
    @include mq(sm) {
      width: calc(34.21% - rem(20) / 2);
    }
    & > img {
      height: 24vw;
      font-family: "object-fit:cover";
      object-fit: cover;
      @include mq(sm) {
        height: 12.1875vw;
        max-height: rem(156);
      }
    }
  }
  .archive-news__body {
    width: calc(62.39% - rem(12) / 2);
    @include mq(sm) {
      margin-top:rem(12);
      width: calc(65.79% - rem(20) / 2);
    }
  }
  
  .archive-news__title {
    font-size: rem(14);
    margin-top: rem(6);
    font-weight: bold;
    line-height: 1.43;
    @include mq(sm) {
      font-size: rem(16);
      margin-top: rem(16);
    }
  }
  .archive-news__pagination {
    margin-top: rem(40);
    @include mq(sm) {
      margin-top: rem(60);
    }
  }
