@use "global" as *;

/* --------------------------------
meta
----------------------------------- */

.meta {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.meta__cats {
  align-items: center;
  display: flex;
}
.meta__cat {
  font-size: rem(12);
  padding: rem(6) rem(11);
  border: rem(1) solid #d33365;
  color: #d33365;
  line-height: 1;
  white-space: nowrap;
  @include mq(sm) {
    font-size: rem(14);
    padding: rem(10) rem(23);
  }
}
.meta__new {
  color: #d33365;
  font-size: rem(14);
  margin-left: rem(8);
  @include mq(sm) {
    font-size: rem(16);
    margin-left: rem(12);
  }
}
.meta__time {
  margin-left: rem(12);
  color: #888;
  font-size: rem(14);
  @include mq(sm) {
    margin-left: 0;
  }
}
