@use "global" as *;

/* --------------------------------
news
----------------------------------- */

.news {
  background: linear-gradient(transparent 25%, #edf3f8 25%);
  margin: 0 0 rem(100);
  @include mq(sm) {
    background: linear-gradient(transparent 57%, #edf3f8 57%);
    margin: rem(60) 0 rem(40);
  }
}
.news__items {
  margin-top: rem(60);
  padding: rem(40) rem(20);
  background: #fff;
  box-shadow: 0 rem(3) rem(12) rgb(0 0 0 / 16%);
  @include mq(sm) {
    margin-top: rem(80);
    padding: rem(60) rem(40) rem(40);
  }
}

.news__item {
  border-bottom: rem(1) solid #ddd;
  display: block;
  padding-bottom: rem(30);
  &:not(:last-child) {
    margin-bottom: rem(20);
  }
}

.news__view-more-link {
  margin-top: rem(33);
}

.news__info {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &-cat {
    font-size: rem(12);
    padding: rem(8) rem(19);
    border: rem(1) solid #d33365;
    color: #d33365;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    @include mq(sm) {
      font-size: rem(14);
      padding: rem(10) rem(23);
    }
  }

  &-time {
    color: #888;
    font-size: rem(14);
  }
}

.news__title {
  font-size: rem(14);
  font-weight: bold;
  margin-top: rem(14);
  @include mq(sm) {
    font-size: rem(16);
  }
}
