@use "global" as *;

/* --------------------------------
pagination
----------------------------------- */
.pagination {
  display: flex;
  justify-content: center;
  height: rem(50);
}

.pagination .pagination__next {
  background: url(../images/svg/icon-chevron-right.svg) center/cover no-repeat;
  height: 14px;
  width: 8px;
}

.pagination .page-numbers.current {
  background: #023e78;
  color: #ffffff;
}

.pagination .page-numbers {
  width: rem(40);
  height: rem(40);
  align-items: center;
  background: #f8f8f8;
  color: #888;
  display: flex;
  font-size: rem(16);
  justify-content: center;
  line-height: 1;
  transition: background 0.3s, color 0.3s;
  @include mq(sm) {
    height: rem(50);
    width: rem(50);  
  }
  &:not(:first-child) {
    margin-left: rem(6);
    @include mq(sm) {
      margin-left: rem(8);
    }
  }
}
