@use "global" as *;

/* --------------------------------
sidebar
----------------------------------- */

.sidebar-new {
  padding-top: rem(100);
  @include mq(sm) {
    padding-top: 0;   
  }
}
.sidebar-new__item {
  display: flex;
  justify-content: space-between;
  &:not(:first-child) {
    margin-top: rem(20);
    @include mq(sm) {
      margin-top: rem(16);
    }
  }
}
.sidebar-new__thumnail {
  width: calc(37.61% - rem(12) / 2);
  @include mq(sm) {
    width: calc(35% - rem(10) / 2);
  }
  & > img {
    height: 24vw;
    font-family: 'object-fit:cover';
    object-fit: cover;
    @include mq(sm) {
      max-height: rem(100);
      height: 7.8125vw;   
    } 
  }
}
.sidebar-new__body {
  width: calc(62.39% - rem(12) / 2);
  @include mq(sm) {
    width: calc(65% - rem(10) / 2);
  }
}
.sidebar-new__meta {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.sidebar-new__cat {
  border: 1px solid #d33365;
  color: #d33365;
  font-size: rem(12);
  line-height: 1;
  padding: rem(6) rem(11);
  white-space: nowrap;
}
.sidebar-new__time {
  color: #888;
  font-size: rem(14);
  margin-left: rem(12);
}
.sidebar-new__title {
  font-size: rem(14);
  font-weight: bold;
  line-height: 1.43;
  margin-top: rem(6);
  @include mq(sm) {
    margin-top: rem(8);
  }
}

.sidebar__title {
  font-size: rem(20);
  font-weight: bold;
}
.sidebar-cats {
  padding-top: rem(60);
  @include mq(sm) {
    padding-top: rem(80);
  }
}
.sidebar-cats__lists {
  margin-top: rem(16);
}
.sidebar-cats__list {
  border-top: rem(1) solid #ddd;
  padding: rem(16) rem(40);
  position: relative;
  &:last-child {
    border-bottom: rem(1) solid #ddd;
  }
  &::before {
    background: url(../images/common/icon-chevron-right02.png) center / cover
      no-repeat;
    content: '';
    height: rem(16.026);
    left: rem(20);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: rem(9.424);
  }
}
.sidebar-cats__link {
  font-size: rem(16);
  font-weight: bold;
}
