@use "global" as *;

/* --------------------------------
company-profile
----------------------------------- */

.company-profile {
  padding: rem(60) 0;
  background: url(../images/common/bg-company.png) center / cover no-repeat;
  height: auto;
  position: relative;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  @include mq(sm) {
    padding: rem(80) 0;
  }
}
.company-profile__box {
  padding: rem(40) rem(20);
  background: #ffffff;
  @include mq(sm) {
    padding: rem(60) rem(40) rem(80);
  }
}
.company-profile__title {
  font-size: rem(24);
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
.company-profile__dl {
  margin-top: rem(40);
  display: flex;
  flex-wrap: wrap;
  font-size: rem(14);
  @include mq(sm) {
    margin-top: rem(60);
  }
}
.company-profile__dt {
  align-items: center;
  border-top: rem(1) solid #023e78;
  display: flex;
  width: calc(33.9%);
  line-height: 1.43;
  padding: 16px 0;
  @include mq(sm) {
    padding-left: rem(32);
    width: calc(29.07%);
    font-size: rem(16);
    line-height: 1.5;
    padding: rem(24) 0;
  }
  &:last-of-type {
    border-bottom: rem(1) solid #023e78;
  }
}
.company-profile__dd {
  padding-left: rem(24);
  width: calc(66.1%);
  line-height: 1.43;
  padding: rem(16) 0;
  border-top: rem(1) solid #e8eaec;
  @include mq(sm) {
    padding-left: rem(36);
    width: calc(70.93%);
    font-size: rem(16);
    line-height: 1.5;
    padding: rem(24) 0;
  }
  &:last-of-type {
    border-bottom: rem(1) solid #e8eaec;
  }
  &-list {
    padding-left: rem(16);
    position: relative;
    &::before {
      content: '・';
      left: 0;
      position: absolute;
    }
  }
}
