@use "global" as *;

/* --------------------------------
company-directors
----------------------------------- */
  
  .company-directors {
    @include mq(sm) {
      background: linear-gradient(transparent 62%, #edf3f8 62%);
      margin-bottom: rem(60);
    }
    background: linear-gradient(transparent 46.5%, #edf3f8 46.5%);
    margin-bottom: rem(100);
    font-family: 'Noto Sans JP', sans-serif;
  }
  .company-directors__title {
      font-size: rem(24);
      font-weight: bold;
      text-align: center;
    }
    .company-directors__items {
      @include mq(sm) {
        margin: rem(60) auto 0;
        max-width: rem(688);       
      }
      margin-top: rem(40);
    }
    .company-directors__item {
      @include mq(sm) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;       
      }
      &:not(:first-child) {
        margin-top: rem(60);
      }
    }
    .company-directors__img {
      @include mq(sm) {
        margin: 0;
        width: calc(37.79% - 5.81% / 2);       
      }
      margin: 0 rem(48);
      text-align: center;
    }
    .company-directors__main {
      @include mq(sm) {
        margin-top: 0;
        width: calc(63.21% - 5.81% / 2);  
      }
      margin-top: rem(18);
    }
    .company-directors__profile {
      align-items: center;
      display: flex;
    }
    .company-directors__job-title {
      font-size: rem(14);
      font-weight: bold;
    }
    .company-directors__name {
      font-size: rem(20);
      font-weight: bold;
      margin-left: rem(20);
    }
    .company-directors__biography {
      @include mq(sm) {
        margin-top: rem(28);  
      }
      margin-top: rem(15);
      font-size: rem(14);
    }
    .company-directors__sns {
      &-icons {
        @include mq(sm) {
          margin-top: rem(32);       
        }
        display: flex;
        margin-top: rem(17);
      }
      &-icon {
        &:not(:first-child) {
          margin-left: rem(24);
        }
      }
    }
  


