@use "global" as *;

.company-message {
  padding: rem(60) 0;
  @include mq(sm) {
    padding: rem(80) 0 rem(120);
  }
}

.company-message__item {
  &:last-child {
    margin-top: rem(60);
  }
    @include mq(sm) {
      &:last-child {
        margin-top: rem(120);
      }
    }
  }

  .company-message__bg {
    &--bg01 {
      background-image: url(../images/common/img-company01_sp.png);
      height: rem(280);
      margin: 0 calc(50% - 50vw);
      width: 100vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #ffffff;
      padding: rem(20) rem(20) 0;
      @include mq(sm) {
        background-image: url(../images/common/img-company01_pc.png);
        height: rem(353);
        margin: 0;
        width: 100%;
      }
    }
    &--bg02 {
      height: rem(280);
      margin: 0 calc(50% - 50vw);
      width: 100vw;
      background-image: url(../images/common/img-company02_sp.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #ffffff;
      padding: rem(20) rem(20) 0;
      @include mq(sm) {
        background-image: url(../images/common/img-company02_pc.png);
        height: rem(353);
        margin: 0;
        width: 100%;
      }
    }
    &-en {
      font-size: rem(52);
      line-height: 1.21;
      @include mq(sm) {
        font-size: rem(100);
        line-height: 1.19;
      }
    }
    &-jp {
      font-size: rem(16);
      font-weight: bold;
      @include mq(sm) {
        font-size: rem(24);
      }
    }
  }
  .company-message__box {
    margin-top: rem(-40);
    padding: rem(30) rem(20) rem(18);
    background: #ffffff;
    box-shadow: 0 rem(3) rem(12) rgb(0 0 0 / 16%);
    @include mq(sm) {
      margin: rem(-60) auto 0;
      max-width: rem(668);
      padding: rem(30) rem(40);
    }
    &-title {
      font-size: rem(20);
      line-height: 1.45;
      color: #023e78;
      font-weight: bold;
      text-align: center;
      @include mq(sm) {
        font-size: rem(24);
        line-height: 1.5;
      }
    }
    &-text {
      margin-top: rem(18);
      font-size: rem(14);
      font-family: 'Noto Sans JP', sans-serif;
      @include mq(sm) {
        margin-top: rem(32);
      }
    }
  }
