@use "global" as *;

/* --------------------------------
drawer
----------------------------------- */
.drawer {
  @include mq(lg) {
    display: none;
  }
}

.drawer__icon-area {
    height: rem(60);
    text-align: center;
    transition: background-color 0.3s;
    width: remZ(60);
  }

  .drawer__checkbox {
    display: none;
  }

  .drawer__icon {
    cursor: pointer;
    display: inline-block;
    height: rem(50);
    position: relative;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: rem(50);
    z-index: 40;
    @include mq(lg) {
      height: rem(23);
      width: rem(28);
    }
  }

  .drawer__bar {
    -webkit-transform: translateY(-50%);
    background: #023e78;
    border-radius: rem(6);
    content: '';
    cursor: pointer;
    display: block;
    height: rem(2);
    left: 0%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out;
    width: rem(27);
  }

  .drawer__inner {
    padding: 0 rem(40);
  }
  .drawer__nav {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: rem(40);
  }
  .drawer__content {
    background: #023e78;
    display: none;
    height: calc(100vh - rem(60));
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    transform: translateY(rem(60));
    width: 100%;
    z-index: 40;
  }
  .drawer__lists {
    width: 100%;
  }
  .drawer__list {
    position: relative;
  }
  .drawer__link {
    color: #fff;
    display: block;
    font-size: rem(16);
    line-height: 1.5;
    padding: rem(20);
    text-align: center;
  }
  .drawer__buttons {
    margin-top: rem(20);
  }
  .drawer__button {
    &--download {
      color: #fff;
    }
    &--contact {
      background: #fff;
      color: #023e78;
    }
  }


.drawer__button,
.drawer__button--download,
.drawer__button--contact {
  border: 1px solid #fff;
  display: block;
  font-size: rem(16);
  font-weight: bold;
  margin: 0 auto;
  max-width: rem(320);
  padding: rem(19) rem(15);
  text-align: center;
  width: 100%;
}

.drawer__button:last-child,
.drawer__button--download:last-child,
.drawer__button--contact:last-child {
  margin-top: rem(32);
}

.drawer__bar::before,
.drawer__bar::after {
  -webkit-transform: translateY(-50%);
  background: #023e78;
  border-radius: rem(6);
  content: '';
  cursor: pointer;
  display: block;
  height: rem(2);
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease-in-out;
  width: rem(27);
}

.drawer__bar::before {
  top: rem(-6);
}

.drawer__bar::after {
  top: rem(8);
}

#drawer-checkbox:checked ~ .drawer__icon .drawer__bar {
  background: rgba(51, 51, 51, 0);
}

#drawer-checkbox:checked ~ .drawer__icon .drawer__bar::before,
#drawer-checkbox:checked ~ .drawer__icon .drawer__bar::after {
  content: '';
  display: block;
  height: 100%;
  left: 50%;
  margin: -8% 0 0 -50%;
  position: absolute;
  top: 50%;
  width: 100%;
}

#drawer-checkbox:checked ~ .drawer__icon .drawer__bar::before {
  transform: rotate(135deg);
}

#drawer-checkbox:checked ~ .drawer__icon .drawer__bar::after {
  transform: rotate(-135deg);
}
