@use "global" as *;

/* --------------------------------
header
----------------------------------- */

.header {
  background: #fff;
  transition: position 0.3s;
}

.header__title {
  font-size: rem(10);
  font-weight: bold;
  max-width: rem(200);
  @include mq(lg) {
    max-width: rem(283);
  }
}

.header__inner {
  align-items: center;
  display: flex;
  height: rem(60);
  justify-content: space-between;
  padding-left: rem(20);
  @include mq(lg) {
    height: rem(100);
    padding: 0 rem(16);
  }
}
.header__logo {
  display: block;
  @include mq(lg) {
    padding-left: 0;
    width: auto;
  }
}

.header.is-fixed {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 40;
}

.header--spacing.is-fixed {
  padding-top: rem(60);
}
