@use "global" as *;

.sub-contact {
  padding-bottom: rem(80);
}

.sub-contact__text {
  font-size: rem(14);
  line-height: 1.7;
  letter-spacing: 0.04em;
  @include mq(sm){
    font-size: rem(16);
  }
}

.inner.sub-contact__inner {
  @include mq(sm) {
    max-width: 700px + strip-unit($padding-pc) * 2;
  }

}


.sub-contact__contents {
  margin-top: rem(50);
}

.sub-contact__content + .sub-contact__content {
  margin-top: rem(35);
  text-align: center;
}

.sub-contact__head {
  display: flex;
  align-items: center;
}

.sub-contact__title {
  font-size: rem(14);
  line-height: 1;
  letter-spacing: 0.04em;
  font-weight: bold;
  margin-right: rem(8);
  @include mq(sm) {
    font-size: rem(18);
    line-height: 1.56;
  }

}

.sub-contact__required {
  font-size: rem(10);
  font-weight: bold;
  display: inline-block;
  line-height: 1;
  padding: rem(4) rem(8);
  background-color: #e61264;
  color: #fff;
  vertical-align: middle;
}

.sub-contact__item {
  margin-top: rem(10);
}

.sub-contact__content--button {
  text-align: center;
}

.sub-contact__content--center {
  @include mq(sm){
    text-align: center;
  }
}

.sub-contact__link-to-privacy {
  font-weight: bold;
  font-size: rem(14);
  margin: 0 6px 0 8px;
  text-decoration: underline;
  @include mq(sm) {
    font-size: rem(16);
    display: inline-block;
    margin: 0 rem(10);
  }
}