@use "global" as *;

  .contents__inner {
    @include mq(sm) {
      display: flex;
    justify-content: space-between;
    }
  }

  .contents__main {
    @include mq(sm) {
      width: calc(70.91% - rem(40) / 2);
    }
  }

  .contents__side {
    @include mq(sm) {
      width: calc(29.09% - rem(40) / 2);
    }
  }
