@use "global" as *;

// .inner {
//   width: 100%;
//   padding-right: $padding-sp;
//   padding-left: $padding-sp;
//   margin-right: auto;
//   margin-left: auto;
//   @include mq("md") {
//     max-width: $inner + strip-unit($padding-pc) * 2;
//     padding-right: $padding-pc;
//     padding-left: $padding-pc;
//   }
// }

.inner {
  width: 100%;
  height: inherit;
  margin: 0 auto;
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq(sm) {
    max-width: rem(1180);
    padding-left: rem(40);
    padding-right: rem(40);
  }
}
.inner--narrow {
  margin: 0 auto;
  height: inherit;
  padding-right: rem(20);
  padding-left: rem(20);
  width: 100%;
    @include mq(sm) {
      padding-right: rem(40);
      padding-left: rem(40);
      max-width: rem(848);
    }
  }
  .inner--wide {
    padding-left: rem(20);
    padding-right: rem(20);
    height: inherit;
    margin: 0 auto;
    width: 100%;
    @include mq(sm) {
      padding-left: rem(40);
      padding-right: rem(40);
      max-width: rem(1180);
    }
  }
