@use "global" as *;

/* --------------------------------
section
----------------------------------- */


.section {
  @include mq(sm) {
    padding: rem(120) 0;
  }
  padding: rem(60) 0;

  &--lower-fv {
    @include mq(sm) {
      padding: rem(80) 0 rem(160);
    }
    padding: rem(60) 0 rem(100);
  }
}