@use "global" as *;

/* --------------------------------
p-case
----------------------------------- */
// .p-case__heading.c-hading {
//   color: #fff;
// }

.case {
  background: url(../images/common/bg-case.png) center / cover no-repeat;
  height: auto;
  position: relative;
  width: 100%;
}
.case__items {
    @include mq(sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: rem(10);       
    }
    margin-top: rem(40);
  }

  .case__item {
    @include mq(sm) {
      margin-top: rem(54);
      width: calc(33.333% - 12.73% / 3);
    }
    display: block;
    &:not(:first-child) {
      margin-top: rem(52);
    }

    &-img {
      text-align: center;
    }

    &-company {
      margin-top: rem(14);
      color: #fff;
      font-size: rem(16);
    }

    &--links {
      margin-top: rem(10);
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    &-cat {
      border: rem(1) solid #fff;
      color: #fff;
      font-weight: bold;
      line-height: 1;
      padding: rem(8) rem(15);
      font-size: rem(14);
    }

    &-link {
      position: relative;
      text-align: right;
    }
    &-link > svg {
      @include mq(sm) {
        margin-right: rem(8);     
      }
      fill: #fff;
      display: block;
      width: rem(29.5);
      height: rem(29.5);
      transition: margin 0.3s, transform 0.3s;
    }
  }
