@use "global" as *;

/* --------------------------------
company
----------------------------------- */
.company {
  background: linear-gradient(transparent 19%, #edf3f8 19%);
  margin: 0 0 rem(60);
  @include mq(sm) {
    background: linear-gradient(transparent 40.5%, #edf3f8 40.5%);
    margin: rem(30) 0 rem(125);
  }
}

.company__content {
    @include mq(sm) {
      padding-top: rem(115);
      position: relative;
    }
  }

  .company__bg {
    background: url(../images/common/bg-company.png) center / cover no-repeat;
    bottom: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .company__content-bg {
    @include mq(lg) {
      width: 39%;
    }
    @include mq(sm) {
      display: block;
      height: 70.3125vw;
      max-height: rem(800);
      right: 0;
      width: 43%;
    }
    display: none;
  }

  .company__items {
    @include mq(sm) {
      display: flex;
      margin-top: rem(20);
      align-items: center;
      justify-content: space-between;
    }
    margin-top: rem(58);
  }

  .company__text {
    @include mq(sm) {
      width: calc(36.27% - rem(40) / 2);
    }
    font-size: rem(14);
    font-family: 'Noto Sans JP', sans-serif;
  }

  .company__img {
    &-bg {
      @include mq(sm) {
        display: none;
      }
      height: 96.5333vw;
      right: rem(-20);
      width: 78.66667vw;
    }
    &-wrapper {
      @include mq(sm) {
        margin-top: 0;
        padding: 0;
        width: calc(63.73% - rem(40) / 2);
      }
      position: relative;
      margin-top: rem(30);
      padding: 10.66667vw 0 32vw;
    }
  }
  .company__view-more-link {
    margin-top: rem(37);
  }

  

  