@use "global" as *;

/* --------------------------------
mv-slider
----------------------------------- */
.mv__inner {
  position: relative;
}

.mv-slider {
  margin-left: rem(40);
  overflow-x: hidden;
  @include mq(sm) {
    margin-left: rem(90);
    position: relative;
  }
}
.mv-slider__items {
  @include mq(sm) {
  }
}

.mv-slider > img {
  max-width: inherit;
  width: 100%;
}

.mv-slider__main {
  bottom: rem(20);
  left: rem(20);
  position: absolute;
  z-index: 2;
  @include mq(sm) {
    bottom: rem(60);
    left: rem(50);
  }
}

.mv-slider__title {
  @include mq(sm) {
    font-size: 4.6875vw;
    margin-top: 0;
    padding: rem(6) 0;
  }
  background: #ffffff;
  color: #163f74;
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10.66667vw;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  margin-top: rem(8);
  padding: rem(4) 0;
}

.mv-slider__title-wrapper {
  @include mq(sm) {
    width: 46.875vw;
  }
  width: 74.66667vw;
}

.mv-slider__title-above {
  @include mq(sm) {
    background: #ffffff;
    display: inline-block;
    line-height: 1;
    margin-bottom: rem(16);
  }
  display: block;
}

.mv-slider__title--spacing {
  @include mq(sm) {
    padding-left: rem(10);
  }
}

.mv-slider__text {
  @include mq(sm) {
    font-size: 1.5625vw;
    margin-top: rem(16);
    padding: rem(5) 0;
  }
  background: #163f74;
  color: #ffffff;
  display: inline-block;
  font-size: 4.26667vw;
  font-weight: bold;
  line-height: 1;
  margin-top: rem(15);
  padding: rem(4) 0;
}
