@use "global" as *;

/* --------------------------------
service
----------------------------------- */

.service {
  background: linear-gradient(transparent 50%, #edf3f8 50%);
  margin: 0 0 rem(60);
  @include mq(sm) {
    background: linear-gradient(transparent 53%, #edf3f8 53%);
    margin: 0 0 rem(60);
  }
}
.service__items {
  @include mq(sm) {
    display: flex;
    justify-content: space-between;
    margin-top: rem(85);
  }
}

.service__item {
  position: relative;
  margin-left: rem(15);
  @include mq(sm) {
    margin: 0;
    width: calc(33.3333% - 12.72% / 3);
  }
  &:nth-child(2) {
    @include mq(sm) {
      margin-top: rem(60);
    }
    margin-top: rem(74);
  }
  &:nth-child(3) {
    @include mq(sm) {
      margin-top: rem(120);
    }
    margin-top: rem(74);
  }
  &-img {
    position: relative;
    text-align: center;
  }
  &-number {
    position: absolute;
    right: rem(-2);
    top: rem(-60);
    width: rem(110);
  }
  &-title {
    bottom: rem(33);
    left: rem(-15);
    position: absolute;
    text-align-last: left;
    @include mq(sm) {
      left: rem(-32);
    }
    &--inside {
      background: #fff;
      display: inline-block;
      font-size: rem(28);
      font-weight: bold;
      font-family: 'Noto Sans JP', sans-serif;
      color: #163f74;
      line-height: 1;
      padding: rem(6) 0;
      &:not(:first-child) {
        margin-top: rem(8);
      }
      @include mq(sm) {
        font-size: 2.82258vw;
        white-space: nowrap;
      }
      @include mq(lg) {
        font-size: 28px;
      }
    }
  }
  &-text {
    margin-top: rem(16);
    font-size: rem(14);
    font-family: 'Noto Sans JP', sans-serif;
    color: #1a1a1a;
  }
}
.service__view-more-link {
  margin-top: rem(40);
}
