@use "global" as *;

.footer {
  padding: rem(70) 0 rem(20);
  background: #1a1a1a;
  position: relative;
  @include mq(sm) {
    padding: rem(120) 0 rem(20);
  }
}
  .footer__logo {
    display: block;
    margin: 0 auto;
    max-width: rem(291);
    @include mq(sm) {
      max-width: rem(375);
    }
  }
  .footer__info {
    text-align: center;
    &-text {
      font-size: rem(14);
      color: #edf3f8;
      display: inline-block;
      margin-top: rem(32);
      text-align-last: left;
      @include mq(sm) {
        margin-top: rem(36);    
      }
    }
  }
  .footer__copyright {
    font-size: rem(12);
    margin-top: rem(40);
    color: #edf3f8;
    text-align: center;
    @include mq(sm) {
      font-size: rem(14);
      margin-top: rem(80);    
    }
  }