@use "global" as *;

.footer-links {
  @include mq(sm) {
    display: flex;
  }
}
  .footer-links__item,
  .footer-links__item--download,
  .footer-links__item--contact {
    @include mq(sm) {
      padding: rem(56) rem(40) rem(50);
      width: 50%;
    }
    padding: rem(45) rem(40) rem(26);
    position: relative;
  }
  .footer-links__item {
    &--download {
      background: url(../images/common/img-download.png) center/cover no-repeat;
    }
    &--contact {
      background: url(../images/common/img-contact.png) center/cover no-repeat;
    }
  }

  .footer-links__main {
    color: #ffffff;
    text-align: center;
    z-index: 1;
    position: relative;
  }

  .footer-links__en {
    @include mq(lg) {
      font-size: rem(60);
    }
    @include mq(sm) {
      font-size: 4.6875vw;
    }
    font-size: rem(40);
    line-height: 1.2;
  }

  .footer-links__ja {
    @include mq(sm) {
      margin-top: 0;    
    }
    font-size: rem(16);
    font-weight: bold;
    margin-top: rem(5);
  }

  .footer-links__button {
    @include mq(sm) {
      font-size: rem(24);
      max-width: rem(315);
      padding: rem(34) rem(15); 
    }
    display: block;
    font-size: rem(16);
    margin: rem(38) auto 0;
    max-width: rem(295);
    padding: rem(28) rem(10);
  }
