@use "global" as *;

/* --------------------------------
cases
----------------------------------- */

.cases {
  margin-top: rem(60);
  @include mq(sm) {
    padding-top: rem(80);
  }
}
.cases__title {
  font-size: rem(24);
  border-left: rem(8) solid #163f74;
  font-weight: bold;
  padding-left: rem(10);
  @include mq(sm) {
    align-items: center;
    display: flex;
    font-size: rem(28);
    line-height: 1.43;
  }
  &--en {
    font-size: rem(14);
    color: #023e78;
    display: block;
    line-height: 1;
    @include mq(sm) {
      font-size: rem(16);
      margin-left: rem(20);
    }
  }
}
.cases__items {
  margin-top: rem(25);
  @include mq(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
  }
}
.cases__item {
  background: #ffffff;
  border-radius: rem(12);
  box-shadow: 0 rem(3) rem(12) rgb(0 0 0 / 16%);
  @include mq(sm) {
    margin-top: rem(66);
    width: calc(50% - rem(80) / 2);
  }
  &:not(:first-child) {
    margin-top: rem(54);
    @include mq(sm) {
      margin-top: rem(66);
    }
  }
  &-head {
    align-items: center;
    background: #023e78;
    border-radius: rem(12) rem(12) 0 0;
    display: flex;
    justify-content: space-between;
    padding: rem(9) rem(20);
    @include mq(sm) {
      padding: rem(20) rem(40);
      position: relative;
    }
  }
  &-heading {
    color: #ffffff;
    font-weight: bold;
    font-size: rem(14);
    line-height: 1.72;
  }
  &-logo {
    width: rem(90);
    border-radius: rem(12);
    box-shadow: 0 rem(3) rem(12) rgb(0 0 0 / 16%);
    overflow: hidden;
    @include mq(sm) {
      max-width: rem(160);
      position: absolute;
      right: rem(20);
      top: 50%;
      transform: translateY(-50%);
      width: 10vw;  
    } 
  }
  &-body {
    padding: rem(20);
    @include mq(sm) {
      padding: rem(40); 
    }
  }
  &-title {
    border-bottom: rem(1) solid #ddd;
    font-size: rem(16);
    font-weight: bold;
    padding-bottom: rem(10);
    &--course-name {
      margin-left: rem(10);
    }
  }
}
.cases__business {
  font-size: rem(12);
  @include mq(sm) {
    font-size: rem(14);
  }
}
.cases__name {
  font-size: rem(16);
  @include mq(sm) {
    font-size: rem(24);
    left: 1.17em;
    margin-top: rem(8);
  }
}
.cases__compellation {
  font-size: rem(16);
  margin-left: rem(16);
  display: inline-block;
}
.cases__lists {
  margin-top: rem(30);
}
.cases__list {
  &:not(:first-child) {
    margin-top: rem(30);
  }
  &-title {
    font-size: rem(18);
    padding-left: rem(30);
    font-weight: bold;
    position: relative;
    &::before {
      height: rem(20);
      width: rem(20);
      background: url(../images/common/icon-check.png) center / cover no-repeat;
      content: '';
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-text {
    margin-top: rem(6);
    font-size: rem(14);
    font-weight: 500;
    line-height: 1.72;
  }
}
.cases__button {
  display: block;
  font-size: rem(14);
  margin: rem(40) auto 0;
  max-width: rem(295);
  padding: rem(28) rem(10);
  @include mq(sm) {
    display: inline-block;
    font-size: rem(16);
    margin-top: rem(60);
    max-width: 100%;
    padding: rem(27) rem(80);
  }
  &-wrapper {
    text-align: center;
  }
}
