@use "global" as *;

/* --------------------------------
case-study
----------------------------------- */

  .case-study {
    font-family: 'Noto Sans JP', sans-serif;
  }
  .case-study__nav {
    margin: 0 rem(20);
    @include mq(sm) {
        margin: 0;
      }
      &-lists {
        @include mq(sm) {
          display: flex;   
        }
      }
      &-list {
        font-size: rem(14);
        &:not(:first-child) {
          margin-top: rem(20);
          @include mq(sm) {
            margin-left: rem(16);
            margin-top: 0;     
          }
        }
      }
      &-link {  
        background: #eee;
        border-radius: rem(4);
        display: block;
        font-weight: bold;
        padding: rem(10);
        text-align: center;
        transition: background-color 0.3s;
        @include mq(sm) {
          width: rem(208);
        }
        &:hover {
          background: #ccc;
        }
      }
    }

.case__item.is-hover .case__item-link > svg {
  fill: #fef251;
  margin-right: 0;
}