@use "global" as *;

.breadcrumbs {
  font-size: rem(14);
  margin-top: 12px;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    display: inline; /*横に並ぶように*/
    list-style: none;

    &::after {
      /* >を表示*/
      content: '>';
      padding: 0 0.4em;
      color: #1a1a1a;
    }

    &:last-child::after {
      content: '';
    }

    & > a {
      text-decoration: none;
      color: #1a1a1a; /*色*/
      &.home {
        color: #888;
      }
    }
  }
}

.breadcrumbs .home {
  color: #888;
}

.breadcrumbs__chevron-right {
  margin: 0 6px;
}