@use "global" as *;

.btn {
  display: inline-block;
  position: relative;
  padding: rem(24) rem(10);
  width: rem(176);
  font-size: rem(14);
  max-width: 100%;
  line-height: 1;
  transition: background-color 0.3s, color 0.3s;
}
.btn__item {
  margin-right: rem(12);
}
.btn--tertiary {
  position: relative;
  border: rem(2) solid #fef251;
  color: #fef251;
  line-height: 1;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    background: #fef251;
    color: #1a1a1a;
  }
  @include mq(sm) {
    border-width: rem(3);
  }
}

.btn--primary {
  background: #ffffff;
  border: rem(1) solid #023e78;
  color: #023e78;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    background: #023e78;
    color: #ffffff;
  }
}
.btn--secondary {
  background: #023e78;
  border: rem(1) solid #023e78;
  color: #fff;
  &:hover {
    background: #002a52;
  }
}

.btn--icon-arrow {
  &::after {
    @include mq(sm) {
      height: rem(13);
      width: rem(20);
      right: rem(22);
    }
    height: rem(12);
    right: rem(12);
    content: '';
    padding-left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-image 0.3s, right 0.3s;
  }
}

.btn--tertiary.btn--icon-arrow {
  position: relative;
  &::after {
    background: url(../images/common/icon-arrow-right01.png) center / cover
      no-repeat;
  }
  @include mq(sm) {
    &:hover::after {
      background-image: url(../images/svg/icon-arrow-blue.svg);
      right: rem(13);
    }
  }
}

.btn--primary.btn--icon-arrow {
  position: relative;
  &::after {
    background: url(../images/common/icon-arrow-blue.png) center / cover no-repeat;
  }
  &:hover::after {
    background-image: url(../images/svg/icon-arrow-white.svg);
    right: rem(13);
  }
}
