@use "global" as *;

.download {
}

.download__document {
  @include mq(sm) {
    width: calc(50% - 40px);
  }
}

.download__items {
  @include mq(sm) {
    display: flex;
    justify-content: space-between;
  }
}

.download__document {
}

.download__document-title {
  font-size: rem(20);
  font-weight: bold;
  line-height: 1.4;
  @include mq(sm) {
    font-size: rem(28);
    line-height: 1.429;
  }
}

.download__document-img {
  margin: rem(40) rem(30) 0;
  box-shadow: 0 3px 12px rgb(0 0 0 / 16%);
  @include mq(sm) {
    margin-left: auto;
    margin-right: auto;
    max-width: rem(275);
  }
}

.download__document-text {
  margin-top: rem(40);
  font-size: rem(14);
}

.download__form {
  background: #edf3f8;
  border-radius: rem(12);
  margin-top: rem(60);
  padding: rem(40) rem(20) rem(40);
  @include mq(sm) {
    margin-top: 0;
    padding: rem(40) rem(40) rem(70);
    width: 50%;
  }
}
.download__form-title {
  font-size: rem(24);
  font-weight: bold;
  @include mq(sm) {
    font-size: rem(32);
  }
}

.download__form-items {
}

.download__submit {
  display: block;
  font-size: rem(14);
  margin: rem(40) auto 0;
  max-width: rem(332);
  padding: rem(28) rem(10);
  text-align: center;
  width: 100%;
  @include mq(sm) {
    font-size: rem(16);
    padding: rem(27) rem(15);
  }
}
