@use "global" as *;

/* --------------------------------
gnav
----------------------------------- */


.gnav {
  align-items: center;
  display: flex;
  height: 100%;
}

.gnav__lists {
  display: none;
  font-size: rem(14);
  font-family: 'Noto Sans JP', sans-serif;
  @include mq(lg) {
    display: flex;
  }
}

.gnav__list {
  position: relative;
  &:not(:first-child) {
    margin-left: rem(46);
    &::before {
      -webkit-transform: translateY(-50%);
      content: '／';
      left: rem(-30);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.gnav__buttons {
  display: flex;
  margin-left: rem(32);
}

.gnav__button {
  display: none;
  &:last-child {
    margin-left: rem(10);
  }
  @include mq(lg) {
    display: block;
    font-size: rem(14);
    padding: rem(26) rem(15);
    width: rem(176);
    text-align: center;
    align-items: center;
  }
}

.gnav .gnav__button:last-child {
  margin-left: rem(10);
}
