@use "global" as *;

/* --------------------------------
heading
----------------------------------- */
.heading {
  color: #023e78;
  @include mq(sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.3;
  }
}
.heading__text--en {
  font-size: rem(52);
  line-height: 1;
  @include mq(sm) {
    font-size: rem(100);
  }
  @include mq(sm) {
    font-size: 7.8125vw;
    line-height: 1;
    color: #163f74;
  }
  &--white {
    font-size: rem(52);
    line-height: 1;
    color: #edf3f8;
    @include mq(sm) {
      font-size: 7.8125vw;
    }
    @include mq(lg) {
      font-size: rem(100);
    }
  }
}

.heading__text--ja {
  font-size: rem(16);
  font-weight: bold;
  margin-top: rem(3);
  @include mq(sm) {
    font-size: 1.875vw;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color: #163f74;
  }
  &--white {
    font-size: rem(24);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color: #edf3f8;
    @include mq(sm) {
      font-size: rem(16);
      font-weight: bold;
      margin-top: rem(3);
    }
  }
}

.heading__link {
  text-align: right;
  cursor: pointer;
  display: block;
  position: relative;
  text-align: right;
  @include mq(sm) {
    justify-content: space-between;
    margin-top: 0;
  }
  &-text {
    font-size: rem(20);
    @include mq(sm) {
      display: block;
      font-size: rem(32);
      margin-top: rem(-6);
      padding-right: rem(140);
    }
    &--white {
      color: #ffffff;
    }
  }
  &-arrow--color-blue {
    background: #023e78;
    &::before {
      background: #023e78;
    }
  }
}

.heading__view-more-link {
  margin-top: rem(37);
}

.heading__link-arrow,
.heading__link-arrow--color-white,
.heading__link-arrow--color-black,
.heading__link-arrow--color-blue {
  display: inline-block;
  height: rem(2);
  position: relative;
  margin: 0 rem(21) 0 rem(8);
  transition: width 0.3s, right 0.3s;
  vertical-align: middle;
  width: 17.2vw;
  z-index: 1;
  @include mq(sm) {
    height: rem(2);
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    width: rem(95);
    &::before {
      bottom: rem(-3);
      height: rem(18);
      right: rem(6);
    }
  }
  &:before {
    bottom: rem(-2);
    content: '';
    display: inline-block;
    height: rem(14);
    position: absolute;
    right: rem(4);
    transform: rotate(-55deg);
    width: rem(2);
  }
}

.heading__link-circle--fill,
.heading__link-circle,
.heading__link-circle--border {
  border-radius: 50%;
  border-style: solid;
  border-width: rem(2);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: rem(40);
  height: rem(40);
  @include mq(sm) {
    height: rem(51);
    width: rem(51);
    top: 40%;
  }
}

.heading__link-arrow--color-white {
  background: #ffffff;
  &::before {
    bottom: rem(-3);
    height: rem(18);
    right: rem(6);
    background: #fff;
    content: '';
    display: inline-block;
    position: absolute;
    transform: rotate(-55deg);
    width: rem(2);
  }
}

.heading__link-arrow--color-black {
  background: #1a1a1a;
  &::before {
    background: #1a1a1a;
  }
}

.heading__link-circle--border {
  border-color: #fff400;
}

.heading__link-circle--fill {
  background: #fff400;
  border-color: #fff400;
}

.heading__link:hover .heading__link-arrow,
.heading__link:hover .heading__link-arrow--color-white,
.heading__link:hover .heading__link-arrow--color-black,
.heading__link:hover .heading__link-arrow--color-blue {
  height: rem(2);
  right: -15.2%;
  width: rem(142);
}
