@use "global" as *;

.main-contact {
}

.main-contact__item {
  margin: 0 auto;
  max-width: rem(688);
}
.main-contact__intro {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.72;
}

.main-contact__form {
  margin-top: rem(80);
  @include mq(sm) {
    margin-top: rem(60);
  }
  text-align: center;
}

.main-contact__submit {
  display: block;
  font-size: rem(14);
  margin: rem(40) auto 0;
  max-width: rem(294);
  padding: rem(27) rem(10);
  text-align: center;
  width: 100%;
  @include mq(sm) {
    max-width: rem(208);
    font-size: rem(16);
    padding: rem(27) rem(15);
  }
}

.main-contact__select {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: rem(16);
  padding: rem(9) rem(16);
  width: 100%;
}

.main-contact__text {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: rem(8) rem(14);
  font-size: rem(16);
  width: 100%;
  @include mq(sm) {
    padding: rem(9) rem(16);
  }
}

.main-contact__intro-link {
  color: #023e78;
  text-decoration: underline;
}
