@use "global" as *;

/* --------------------------------
mv-lower
----------------------------------- */
.mv-lower {
  position: relative;
  &::after {
    background: rgba(26, 26, 26, 0.2);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.mv-lower__img {
  &--news {
    @include mq(sm) {
      background-image: url(../images/common/mv-news_pc.png);
    }
    background-image: url(../images/common/mv-news_sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(250);
    position: relative;
    width: 100%;
    &::before {
      @include mq(sm) {
        background-image: url(../images/common/lower-mv-decoration_pc.png);
        width: 365px;
      }
      background-image: url(../images/common/lower-mv-decoration_sp.png);
      bottom: 0;
      content: '';
      height: rem(250);
      left: 0;
      position: absolute;
      top: 0;
      width: rem(165);
    }
  }
  &--company {
    background-image: url(../images/common/mv-company_sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(250);
    position: relative;
    width: 100%;
    @include mq(sm) {
      background-image: url(../images/common/mv-company_pc.png);
    }
    &::before {
      background-image: url(../images/common/lower-mv-decoration_sp.png);
      bottom: 0;
      content: '';
      height: rem(250);
      left: 0;
      position: absolute;
      top: 0;
      width: rem(165);
      @include mq(sm) {
        background-image: url(../images/common/lower-mv-decoration_pc.png);
        width: rem(365);
      }
    }
  }
  &--service {
    background-image: url(../images/common/mv-service_sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(250);
    position: relative;
    width: 100%;
    @include mq(sm) {
      background-image: url(../images/common/mv-service_pc.png);
    }
    &::before {
      background-image: url(../images/common/lower-mv-decoration_sp.png);
      bottom: 0;
      content: '';
      height: rem(250);
      left: 0;
      position: absolute;
      top: 0;
      width: rem(165);
      @include mq(sm) {
        background-image: url(../images/common/lower-mv-decoration_pc.png);
        width: rem(365);
      }
    }
  }
  &--case {
    background-image: url(../images/common/mv-company_sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(250);
    position: relative;
    width: 100%;
    @include mq(sm) {
      background-image: url(../images/common/mv-company_pc.png);
    }
    &::before {
      background-image: url(../images/common/lower-mv-decoration_sp.png);
      bottom: 0;
      content: '';
      height: rem(250);
      left: 0;
      position: absolute;
      top: 0;
      width: rem(165);
      @include mq(sm) {
        background-image: url(../images/common/lower-mv-decoration_pc.png);
        width: rem(365);
      }
    }
  }
  &--download {
    background-image: url(../images/common/mv-download_sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(250);
    position: relative;
    width: 100%;
    @include mq(sm) {
      background-image: url(../images/common/mv-download_pc.png);
    }
    &::before {
      background-image: url(../images/common/lower-mv-decoration_sp.png);
      bottom: 0;
      content: '';
      height: rem(250);
      left: 0;
      position: absolute;
      top: 0;
      width: rem(165);
      @include mq(sm) {
        background-image: url(../images/common/lower-mv-decoration_pc.png);
        width: rem(365);
      }
    }
  }
  &--contact {
    background-image: url(../images/common/mv-contact_sp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(250);
    position: relative;
    width: 100%;
    @include mq(sm) {
      background-image: url(../images/common/mv-contact_pc.png);
    }
    &::before {
      background-image: url(../images/common/lower-mv-decoration_sp.png);
      bottom: 0;
      content: '';
      height: rem(250);
      left: 0;
      position: absolute;
      top: 0;
      width: rem(165);
      @include mq(sm) {
        background-image: url(../images/common/lower-mv-decoration_pc.png);
        width: rem(365);
      }
    }
  }
}

.mv-lower__main {
  position: absolute;
  top: 50%;
  left: rem(20);
  transform: translateY(-50%);
  z-index: 1;
  @include mq(sm) {
    left: 17%;
  }
}

.mv-lower__en {
  font-size: rem(32);
  padding: rem(3) 0;
  background: #ffffff;
  color: #163f74;
  display: inline-block;
  line-height: 1;
  @include mq(sm) {
    font-size: rem(60);
    padding: rem(6) 0;
  }
}

.mv-lower__ja {
  font-size: rem(16);
  background: #ffffff;
  color: #163f74;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  margin-top: rem(8);
  padding: rem(4) 0;
  @include mq(sm) {
    font-size: rem(20);
  }
}
