@use "global" as *;

/* --------------------------------
pagetop
----------------------------------- */
.pagetop {
  bottom: rem(20);
  position: absolute;
  right: rem(10);
  width: rem(40);
  @include mq(sm) {
    bottom: rem(40);
    right: rem(20);
  }
  a {
    display: block;
  }
}