@use "global" as *;

.u-font-italic {
  font-family: 'Fira Sans', sans-serif;
  font-style: Italic;
  font-weight: 500;
}

.u-hidden-pc {
  @include mq(sm) {
    display: none; 
  }
}

.u-hidden-sp {
  @include mq(sm) {
    display: block;
  }
    display: none ;
}


.u-color{
  &-white {
    color: #ffffff;
  }
  &-blue {
    color: #023e78;
  }
}
