@use "global" as *;

.single__content h2 {
  background: #f8f8f8;
  border-left: 6px solid #023e78;
  font-size: 2rem (20);
  padding: 6px 10px 6px 20px;
}

.single__content p {
  &:first-of-type {
    margin-top: 20px;
  }  
}
.single__content h3 {
  border-bottom: 1px solid #023e78;
  font-size: rem(18);
  padding-bottom: rem(5);
}
.single__content h4 {
  font-size: rem(16);
}

.single__content h2,
.p-single__content h3,
.p-single__content h4 {
  color: #023e78;
  font-weight: bold;
  margin-top: rem(40);
}

.single__content ul {
  margin-top: rem(40);
  @include mq(sm) {
    margin-left: rem(40);
  }
}

.single__content li::before {
  content: '・';
}

.single__post-links {
  display: flex;
  justify-content: space-between;
  margin-top: rem(40);
}

.single__post-link {
}

.single__post-link > a {
  border: 1px solid #023e78;
  border-radius: 4px;
  color: #023e78;
  display: block;
  padding: rem(5) rem(15);
  transition: background-color 0.3s, color 0.3s;
}
